body{
    font-family: Arial, Sans-serif;;
    background-color:gainsboro ;
}
 
.parent{ 
    background-color:gainsboro;
   padding-left: 40p;
   margin: 4%;
   font-size: 3vh;
   border: 2px solid gainsboro;
   width: 59%;
   height: 70%;
   top: 89vh;

}
h2{
    color: #009688;
}
mark{ 
    background-color: blue;
    color: white;
}
span{
    color: orange;
}
.form input{
    font-size: 2vh;
    border: none;
    border-bottom: 3px solid black;
    padding: 10px;
    width: 70%;
    background-color: gainsboro;
}
.form a{
    padding-left: 450px;
    color: #009688;
    text-decoration: none;
}
button{
    display: center;
    background-color: #009688;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 20px;
    width: 72%;
    text-shadow: white;
    font: 69vh;
    border-radius: 10px;
    font-size: 10px;
    margin-left: 10px;
}

.boy> button{
    border: 2px solid black;
    align-items: center;
    font-size: 15px;
    display: flex;
    background: white;
    color: black;
   width: 27%;
   height: 10%;
   padding: 7px;
}
 
.boy img{
    height: 45px;
}